recordedTask_cokeincup.bag
*~
*.tra
*/build/*
*/.cproject
*/.project
*/.pydevproject
ros_lfd_lat/bin/*
ros_lfd_lat/html/*
ros_lfd_lat/latex/*
ros_lfd_lat/TaskSpaceData.mod/*
ros_lfd_lat/JointSpace_Mean.mod/*
ros_lfd_lat/lib/*
ros_lfd_lat/_gtest_from_src/*
ros_lfd_lat/cmake_install.cmake
forward_kinematics_publisher/bin/*
forward_kinematics_publisher/.settings/*
fake_or/bin/*
fake_or/.settings/*
TaskSpaceData.mod/*
katana/bin/*
COKE_apx.pdf
JointSpace_Mean.mod/*
*.mod/*

